# Node Build Artifacts
node_modules/
dist/
build/
coverage/
.nyc_output/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
!.env.example
!production.env.example

# Docker / Serverless
.serverless/
.clinic/
