
-- 1. Create customer_addresses table for multiple saved spots
CREATE TABLE IF NOT EXISTS public.customer_addresses (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    customer_id UUID NOT NULL REFERENCES public.profiles(id) ON DELETE CASCADE,
    label VARCHAR(50) NOT NULL DEFAULT 'Home', -- Home, Office, Other
    address_text TEXT NOT NULL,
    latitude DOUBLE PRECISION NOT NULL,
    longitude DOUBLE PRECISION NOT NULL,
    is_default BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. Add quick-access location fields to profiles
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS preferred_location_lat DOUBLE PRECISION;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS preferred_location_lng DOUBLE PRECISION;

-- 3. Enable RLS for addresses
ALTER TABLE public.customer_addresses ENABLE ROW LEVEL SECURITY;
GRANT ALL ON public.customer_addresses TO anon, authenticated, service_role;

-- 4. RLS Policy: Customers manage own addresses
DROP POLICY IF EXISTS \
Customers
manage
own
addresses\ ON public.customer_addresses;
CREATE POLICY \Customers
manage
own
addresses\ ON public.customer_addresses 
FOR ALL USING (auth.uid() = customer_id) WITH CHECK (auth.uid() = customer_id);

-- 5. Trigger to ensure only one default address
CREATE OR REPLACE FUNCTION public.handle_default_address()
RETURNS TRIGGER AS \$\$
BEGIN
    IF NEW.is_default THEN
        UPDATE public.customer_addresses 
        SET is_default = false 
        WHERE customer_id = NEW.customer_id AND id != NEW.id;
    END IF;
    RETURN NEW;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS on_default_address_change ON public.customer_addresses;
CREATE TRIGGER on_default_address_change
    BEFORE INSERT OR UPDATE OF is_default ON public.customer_addresses
    FOR EACH ROW EXECUTE FUNCTION public.handle_default_address();

